/* Start Default Theme */

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus{color: yellow;}

.optionBox .color-option, .price_table .price_box:hover p{border: 2px solid yellow;}

.optionBox .gear-check{background-color: yellow;}

/* End Default Theme */
